.contact-container {
  font-family: system-ui;
}

.contact-header {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.contact-wrapper {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;
  grid-gap: 20px;
}
