.skills-container {
  font-family: system-ui;
}

.skills-header {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.skills-wrapper {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

$dark: #1f2426;
$gray: #4b5859;
$blueGray: #293e41;
$lightestBlue: #b4dad7;
$lightBlue: #519ca4;
$blue: #2196a7;
$darkBlue: #307982;
$darkestBlue: #215961;

.full-qual {
  width: 100%;
  margin: 0 auto;
}

.third-qual {
  width: 70%;
  float: left;
  margin-right: 5%;
}

.quarter-qual {
  width: 25%;
  float: left;
}

.qual {
  margin: 80px 0;

  hr {
    margin: 0 auto;
    width: 100%;
  }
}

.data {
  height: 200px;
  position: relative;
  width: 100%;
  margin-bottom: 10px;

  .data-item {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;

    h5 {
      position: absolute;
      bottom: 10px;
      white-space: nowrap;
      border-bottom: 2px solid $lightestBlue;
    }

    span {
      position: absolute;
      bottom: 13px;
      border-left: 2px solid $lightestBlue;
    }
  }
}

#item1 {
  z-index: 1;
  right: 0;
  border-left: 400px solid transparent;
  border-right: 400px solid transparent;
  border-bottom: 200px solid $blue;
}

#item2 {
  z-index: 5;
  right: 50px;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  opacity: 0.5;
  border-bottom: 50px solid $lightestBlue;
}

#item3 {
  z-index: 5;
  left: 60px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 15px solid $blue;

  h5 {
    position: absolute;
    left: -65px;
  }
}

#item4 {
  z-index: 5;
  left: 150px;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  opacity: 0.5;
  border-bottom: 37.5px solid $lightestBlue;

  h5 {
    position: absolute;
    left: -65px;
  }
}

#item5 {
  z-index: 5;
  left: 300px;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  opacity: 0.5;
  border-bottom: 7.5px solid $lightestBlue;

  h5 {
    text-align: right;
    position: absolute;
    left: -65px;
    bottom: 70px;
  }

  span {
    line-height: 80px;
  }
}

#item6 {
  z-index: 5;
  left: 400px;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  opacity: 0.5;
  border-bottom: 100px solid $lightestBlue;

  h5 {
    position: absolute;
    bottom: 70px;
  }

  span {
    line-height: 80px;
  }
}

#item7 {
  z-index: 10;
  left: 450px;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  border-bottom: 62.5px solid $lightestBlue;

  h5 {
    text-align: right;
    position: absolute;
    left: -67px;
    bottom: 30px;
  }

  span {
    line-height: 40px;
  }
}
