@import url("https://fonts.googleapis.com/css?family=Poppins:400,500");

.card {
  max-width: 300px;
  margin: 2rem;
  background-color: #fffff9;
  border-radius: 1rem;
  box-shadow: 0 30px 20px -10px rgba(0, 0, 0, 0.2);
}

.card button {
  border: none;
  cursor: pointer;
}

.card button:focus {
  outline: 0;
}

.card .top {
  position: relative;
  width: 300px;
  height: 360px;
  color: #fffff9;
  border-radius: 1rem 1rem 0 0;
  background: url(https://images.unsplash.com/photo-1504703395950-b89145a5425b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2513&q=80)
    no-repeat center center;
  background-size: cover;
}

.card .top::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 33%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
}

.card .top .social-buttons {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem;
}

.card .top .social-buttons button {
  background-color: transparent;
}

.card .top .social-buttons button i {
  font-size: 1rem;
  color: #fffff9;
}

.card .top .social-buttons button:hover i {
  color: #ffc629;
}

.card .top button.like {
  z-index: 1;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  background-color: transparent;
}

.card .top button.like i {
  font-size: 1.3rem;
  color: #fffff9;
}

.card .top .text {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  z-index: 1;
}

.card .top .text .name-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-botttom: 0.25rem;
}

.card .top .text .name-wrapper i {
  font-size: 1rem;
  margin-left: 0.5rem;
  color: #009abf;
}

.card .top .text .name-wrapper .name {
  font-weight: 500;
  font-size: 1.4rem;
}

.card .top .text .title {
  font-size: 0.8rem;
}

.card .bottom {
  padding: 1rem 1.5rem 1.5rem;
  background-color: #f3efa1;
  border-radius: 0 0 1rem 1rem;
}

.card .bottom .desc {
  color: #1d252c;
}

.card .bottom .buttons {
  display: flex;
  margin-top: 2rem;
}

.card .bottom .buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  color: #1d252c;
  font-size: 0.7rem;
  background-color: #fdda64;
  border-radius: 1em;
}

.card .bottom .buttons button i {
  font-size: 1rem;
}

.card .bottom .buttons button:hover {
  filter: brightness(110%);
}

.hexagon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 23px;
  margin: 11px 0;
  box-shadow: 0 15px 15px -2px rgba(0, 0, 0, 0.2);
  background-color: #ffc629;
}

.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.hexagon::before {
  bottom: 100%;
  border-bottom: 11px solid #ffc629;
}

.hexagon::after {
  top: 100%;
  border-top: 11px solid #ffc629;
}

.hexagon:hover {
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px) scale(1.1);
  filter: brightness(110%);
}

.card * {
  transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
